parameters:
    level: 5
    paths:
        - core
        - public
    autoload_files:
        - core/config.php

    checkMissingIterableValueType: false
    checkUninitializedProperties: true
    checkMissingVarReturn: true

    ignoreErrors:
        - '#Call to function mysqli_.*#'
        - '#Undefined variable: _SERVER#'
