
:root {
    /*--primary-color: #3498db;*/
    --n: none;
    --b: block;

    --light_color: #707070;
    --dark_color: #333;
    --cover_color: #fff;
    --cover_background: #4070f4;
    --body_background: #e3f2fd;
    --nav_background: #fff;

    --border_r: 8px;
}

.section {
    display: none !important;
    border-radius: 8px;
    /*padding: 10px;*/
}

.section.visible {
    /*background-color: chartreuse;*/
    display: block !important;
}

/*main section.main a {
    font-size: xx-large;
}*/

/* --- ARTICLES --- */
.article {
    width: 100%;
    height: 100%;
}


/* --- BAR --- */
.menuBar {
    height: 60px;
    width: 100%;
    background-color: var(--nav_background);
    color: var(--dark_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: var(--border_r);
    border-top-right-radius: var(--border_r);
}

.menuBar a {
    color: var(--dark_color);
    text-decoration: none;
    padding: 10px;
    /* padding: 0 20px;*/
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.menuBar a.menuBarLink:hover
/*,
.menuBar a.menuBarLink.active*/ {
    background-color: var(--cover_background);
    color: var(--cover_color);
    border-radius: var(--border_r);
    transition: background-color 0.3s;
    cursor: pointer;
}



/* --- MAIN --- */
.mainSection {
    height: calc(100% - 60px);
    width: 100%;
    /*overflow: hidden;*/
    /*height: 100%;*/
}

.mainArticle {
    width: 100%;
    background-color: var(--nav_background);
    height: 100%;
    display: none;
    border-bottom-left-radius: var(--border_r);
    border-bottom-right-radius: var(--border_r);
    border-top: 1px solid var(--dark_color);
    box-sizing: border-box;
    overflow: hidden; 
}

.mainArticle.visible {
    display: block;
    padding: 10px;
}

/* --- FORMS: SERVICE BREAK & ADD ARTICLE --- */



/* --- GLOBAL STYLES --- */
.form-container,
#form-container {
    /*background-color: #f2f2f2;*/
    padding: 20px;
    width: 100%;
    height: auto;
}

h2 {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.align-checkbox {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    margin-right: 10px;
}

button,
input[type=submit] {
    /*background-color: red;*/
    background-color: #4070f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 80px;

}

button:hover,
input[type=submit]:hover {
    /*background-color: rgb(235,14,14);*/
    background-color: #2359ee;
}

input[type=text],
input[type=file] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 12px;
}

input[type=file] {
    padding: 0;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Media queries */
@media screen and (max-width: 600px) {
    button,
    input[type=submit],
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    input[type=text],
    input[type=file] {
        width: 100%;
    }
}


/* styling of table */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1em;
    text-align: left;
}

.data-table thead {
    background-color: #f2f2f2;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tbody tr:hover {
    background-color: #f1f1f1;
}

#table-container-inner{
    overflow-x: scroll;
    white-space: nowrap; /* To ensure the content stays on one line for scrolling */
    width: 100%; /* możesz dostosować */
    max-width: 2000px; 
}

/* DASHBOARD */

* {
    box-sizing: border-box;
}

#data {
    display: flex;
    justify-content: space-between;
    height: 100%; 
    overflow: hidden; 
}

.column {
    width: 100%;
}

.columnContent {
    height: 100%;
    overflow-y: auto; 
}

.form-container {
    height: 100%; 
}

@media (max-height: 1000px) {
    .mainArticle {
        overflow-y: auto;
        
    }

    .form-container{
        padding-left: 0;
        padding-right: 0;
    }
}



/* message */
.overlayPopout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Styl dla samego popouta */
.popout {
    background-color: #fff;
    padding: 10px;
    max-width: 400px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1000;
}

/* Styl dla przycisku zamknięcia */
.popout .close-btn {
    position: absolute;
    top: -1px; /* Przesunięcie guzika wyżej */
    right: 7px; /* Można dostosować */
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

/* Styl dla tekstu wewnątrz popouta */
.popout p {
    margin: 0;
    padding: 10px 0;
    line-height: 1.5;
}

/* Ukryj popout na początku */
.hidden {
    display: none;
}
