
body{
    /*background-color: lightslategray;*/
    background-color: #fff;
    /*background-color: #e3f2fd;*/
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    align-items: center;
    text-align: center;
    min-height: 100%; 
    box-sizing: border-box; 
    padding-bottom: 30px; 
}

#loginBox{
    width: 340px; /*380px*/
    height: 290px; /*280px*/
    border-radius: 5px; /* 8px*/
    /*background-color: lightgrey;*/
    /*background-color: #fff;*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border: 1px solid #333;
}

#loginBoxTitle{
    font-size: 20px;
    margin-top: 20px;
    font-size: 25px;
}

#loginBoxForm{
   margin-top: 20px;
   align-items: center;
   justify-content: center;
   text-align: center;
}
  
input[type="text"], input[type="password"] {
    width: 200px; /*180px*/
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px; /*8px*/
    border: none;
    font-size: 13px;
    border: 1px solid #333;
}
input[type="submit"] {
    width: 200px; /*180px*/
    padding: 10px;
    margin: 10px 0;
    /*background-color: #4CAF50;/*
    /*background-color: red;*/
    background-color: #4070f4;;
    color: white;
    /*color: #333;*/
    border: none;
    cursor: pointer;
    border-radius: 5px; /*8px*/
    font-size: 14px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; 
    background-color: #f1f1f1;
    text-align: center;
    line-height: 30px; 
    background-color: lightgray;
    font-size: 22px;
   
}

#logErr{
    font-size: large;
}

#smallScreen{
    display: none;
}

@media (max-width: 350px) {

    * {  
        font-size: smaller;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    main {
        max-width: 300px;
        align-items: center;
        text-align: center;
        
        box-sizing: border-box; 
        padding-bottom: 30px; 
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
    }

    #loginBoxTitle{
        border-bottom: 200px
    }

    #loginBox {
        background-color:unset;
        max-width: 300px;
        width: 100%;
    }

    #loginBoxForm {
        max-width: 300px;
        width: 100%;
    }

    input[type="text"], input[type="password"] {
        width: 200px;
        border: 1px solid #333;
    }

    input[type="submit"] {
        width: 200px;
    }

    footer {
        font-size: 18px;
        line-height: 20px; 
        height: 20px;
    }

    #logErr{
        font-size: medium;
        padding: 5px;
    }
}

@media (max-width: 230px) OR (max-height: 460px){
    main{
        display: none;
    }

    footer{
        font-size: small;
    }

    #smallScreen{
        display: block;
        font-size: large;
        margin-top: 200px;
        color: red;
        text-align: center;
        width: 100%;
    }
}