
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    background-color: #fff;
    padding-top: 70px;
}

/* nav, menu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #4070f4;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.menu-icon.topbar,
span.logo-name.topbar{
    color: #fff;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;/*left: 0;*/
    height: 100%;
    width: 260px;
    padding: 20px 0;
    /*opacity: 0.5;*/
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease; 
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}
.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #4070f4;
}

 .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%; /*left: 260px;*/
    height: 100vh;
    width: 200%;
    opacity: 0;
    background:rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    pointer-events: none;
    display: block !important;
}

nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
    z-index: 100;
}

/* main */
main {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #fff;
}

.bottom-content .list .nav-link:hover{
    background-color: #4070f4;
    color: #fff ;
}

.list .nav-link:hover .icon,
.list .nav-link:hover .link{
    color: white;
}

.bottom-content .list .nav-link#logOut:hover{
    background-color: white;
    color: #707070;
}

.list .nav-link:hover .icon.logOut,
.list .nav-link:hover .link.logOut{
    color: #707070;
}
