
/* === general window === */
article.window {
    display: block;
    width: 100%;
    height: 100%;
}

.main {
    padding: 20px;
    background-color: #fff; /* Kolor tła sekcji */
    height: 100%;
}

/** window name */
.main h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Kolor nagłówka */
}

/** window content */
.main .content {
    padding: 20px;
    background-color: #f2f2f2; /* Kolor tła wewnętrznej sekcji */
    border-radius: 8px; 
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333; 
    font-size: 16px;
    height: 90%;
}


/* === GLOBAL STYLES ==== */
.content {
    /*background-color: #f2f2f2;*/
    padding: 20px;
    width: 100%;
    height: auto;
}

.main h2 {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.align-checkbox {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    margin-right: 10px;
}

button,
input[type=submit] {
    /*background-color: red;*/
    background-color: #4070f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 80px;

}

button:hover,
input[type=submit]:hover {
    /*background-color: rgb(235,14,14);*/
    background-color: #2359ee;
}

input[type=text],
input[type=file],
input[type=password] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 12px;
    font-size: 14px;
}

input[type=file] {
    padding: 0;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Media queries */
@media screen and (max-width: 600px) {
    button,
    input[type=submit],
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    input[type=text],
    input[type=file] {
        width: 100%;
    }
}


/* styling of table */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1em;
    text-align: left;
}

.data-table thead {
    background-color: #f2f2f2;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tbody tr:hover {
    background-color: #f1f1f1;
}

#table-container-inner{
    overflow-x: scroll;
    white-space: nowrap; /* To ensure the content stays on one line for scrolling */
    width: 100%; /* możesz dostosować */
    max-width: 2000px; 
}

/* === spcific styles === ------------------------------------------*/

/* === edit ===*/

/*article.window #edit */ /* in future */
article.window #edit section.content{
    overflow-y: scroll;
}
textarea {
    width: 40%;
    min-height: 100px; 
    max-height: 300px; 
    padding: 10px; 
    font-size: 14px;
    font-family: Arial, sans-serif; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    resize: vertical;
}

input[type="file"] {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

a#showBttn {
    width: 80px;
}


/* === popout message === */

/** message */
.overlayPopout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/** popout styles */
.popout {
    background-color: #fff;
    padding: 10px;
    max-width: 400px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1000;
}

/** Styles for button */
.popout .close-btn {
    position: absolute;
    top: -1px; 
    right: 7px; /* can be adjusted */
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.popout p {
    margin: 0;
    padding: 10px 0;
    line-height: 1.5;
}

/** hide at the beggining */
.hidden {
    display: none;
}


/* === color buttons === */
.custom-button {
    display: inline-block; 
    width: 70px; 
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    text-align: center; 
    text-decoration: none; 
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 15px;
    font-family: inherit; 
}

.blue{
    background-color: #4070f4;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}
    
.blue:hover{
    background-color: #3056c6;
}

.green:hover{
    background-color: #006400;
}

.orange:hover{
    background-color: #cc8400;
}

.red:hover{
    background-color: #b30000;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Odstęp między formularzami */
}

.form-left {
    flex: 1;
}

.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}